<div class="">
  <button mat-button>Click me!</button>
  <button mat-raised-button>Click me!</button>
  <button mat-flat-button>Click me!</button>
  <button mat-stroked-button>Click me!</button>
</div>
<hr />
<div>
  <button mat-icon-button color="warn">Click</button>
  <button mat-fab>Click me!</button>
  <button mat-mini-fab>Click me!</button>
</div>
<hr />
<div>
  <button mat-button color="primary">Click me!</button>
  <button mat-button color="accent">Click me!</button>
  <button mat-button color="warn">Click me!</button>
  <hr />
  <button mat-raised-button color="primary">Click me!</button>
  <button mat-raised-button color="accent">Click me!</button>
  <button mat-raised-button color="warn">Click me!</button>
</div>
